<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">

      <% @user.errors.full_messages.each do |msg| %>
        <span class="red"><%= msg %></span>
      <% end %>
    </div>
  <% end %>

   <div class="field">
    <%= f.label :course %><br />
    <%= f.collection_select :courses, Course.all, :id, :name, :prompt => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
