<p id="notice"><%= notice %></p>

<table class="table_show">
	<tr>
		<td><span>Name:</span></td>
		<td><%= @user.name %></td>
	<tr>
	<tr>
		<td><span>Email:</span></td>
		<td> <%= @user.email %></td>
	<tr>
	<tr>
		<td><span>Region:</span></td>
		<td> <%= @user.region.name %></td>
	<tr>	
</table>	

<br />
<p>
  <b class="bold">Courses Played</b>
  <% @user.courses.each do |course|%>
  	<p> <%= course.name %> </p>  
  <% end %>
</p>

<br />
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'Add Course Played', :controller => "users", :action => "add_course", :id => @user %>

