<div class="center">
<h1>Regions</h1>

<table class="index_table">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @regions.each do |region| %>
  <tr>
    <td><%= region.name %></td>
    <td><%= region.location %></td>
    <td><%= button_to 'Show', region %></td>
    <td><%= button_to 'Edit', edit_region_path(region) %></td>
    <td><%= button_to 'Destroy', region, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Region', new_region_path %>

</div>
