<!DOCTYPE html>
<html>
	<head>
		<title>Disc Golf Tracker</title>
		<%= stylesheet_link_tag "bootstrap.min", "application" %>
		<%= stylesheet_link_tag "bootstrap-responsive.min", :media => "all" %>
		<%= javascript_include_tag "bootstrap.min" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= render 'layouts/navbar' %>
		<div class="container">
			<div class="hero-unit">
				<center>
					<%= yield %>
				</center>
			</div>
		
		<footer>
		</footer>
		</div>	
	</body>
</html>
